.client-menu {
	position: absolute;
	height: 52px;
	flex-shrink: 0;
	right: 5%;
	top: 5%;
}

.client-menu-panel {
	display: flex;
	align-items: center;
}

.client-menu-container h3 {
	margin-left: 10px;
}
.client-menu-notification {
	font-size: 45px;
	color: orange;
	margin-top: 10px;
}
.client-menu-notification-on {
	font-size: 45px;
	color: green;
	margin-top: 10px;
}
.client-menu-img {
	border: solid orange 2px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	margin-top: 10px;
}

.client-menu-panel :nth-child(1) {
	display: flex;
	align-items: center;
	margin-right: 2px;
}

.panel-open {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 150px;
	height: 100px;
	background-color: orange;
	border-radius: 10%;
	padding-bottom: 20px;
}

.panel-open a {
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
}
.panel-open button {
	background-color: rgb(238, 197, 121);
	color: #fff;
	font-weight: bold;
	font-size: 11px;
	border: none;
	border-radius: 20px;
	width: 140px;
	height: 30px;
	cursor: pointer;
}

.panel-open button:hover {
	color: #000;
	background-color: #fff;
}
.panel-closed {
	display: none;
}

button.arrow-menu {
	width: 28px;
	height: 30px;
	background-color: #ffa500;
	border: none;
	margin-left: 5px;
	border-radius: 2px;
}
button.arrow-menu path {
	fill: #fff;
}

@media screen and (max-width: 850px) {
	.client-menu {
		display: none;
	}
}
