.call-container {
	padding-top: 40px;
	color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.call-text {
	color: #000;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: initial;
}

.call-logo {
	width: 70px;
	height: 40px;
	flex-shrink: 0;
	color: #ffa101;
	transform: translateX(0);
	animation: shake 2s ease-in-out infinite;
}
@keyframes shake {
	0% {
		transform: translateX(5px);
	}
	25% {
		transform: translateX(-5px);
	}
	50% {
		transform: translateX(5px);
	}
	75% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(5px);
	}
}

.mesero-call{
    width: 90%;
    text-align: center;
    height: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
    border-radius: 10px;
    margin-top: 20px;
    

}
.mesero-call p{
    text-align: center;
}
.call-btn {
	background: none;
	border: none;
}
.pedido-state{
	color: rgb(4, 199, 4);
	padding: 10px 15px;
}