.client-side-menu-web {
	height: 100%;
	min-height: 100vh;
	background-color: #ffa101;
	border-radius: 0px 120px 0 0px;
	color: #000;
	min-width: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 2s ease;
	z-index: 10;
}

.client-side-menu-web h1 {
	color: #000;
	text-align: center;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 78px;
	margin-bottom: 78px;
}

.client-side-menu-logo {
	width: 200px;
	padding:100px 0 40px 0;
}

.client-side-link {
	margin-right: 50px;
	margin-bottom: 20px;
	padding-left:25px;
	width: max-content;
	display: flex;
	text-transform: uppercase;
}

.client-side-link :hover {
	color: white;
}

.client-side-link a {
	color: #000;

	font-size: 20px;
	font-style: normal;
	text-transform: initial;
	line-height: normal;
	text-decoration: none;
}

.client-side-link :nth-child(1) {
	font-size: 30px;
	color: white;
	margin-right: 10px;
}

.client-side-img img {
	border: black 2px solid;
	width: 160px;
	height: 160px;
	border-radius: 100%;
}

.client-side-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.client-menu-mobile {
	display: none;
}
.admin-menu-mobile {
	display: none;
}

.sideMenuClosed {
	width: 60px;
	height: 100%;
	min-height: 100vh;
	background-color: #ffa101;
	border-radius: 0px 120px 0 0px;
}

.openSideBtn {
	position: absolute;
	top: 30px;
	left: 200px;
	background: none;
	border: none;
	color: black;
	cursor: pointer;
	transition: all 1s ease-in-out;
}

.openSideBtn .menuBtn {
	rotate: 180deg;
}

.closedSideBtn {
	position: absolute;
	top: 30px;
	left: 20px;
	background: none;
	border: none;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}
.menuBtn {
	width: 30px;
	height: 30px;
	color: black;
	background: none;
	border: none;
}

.cambiarimg-btn {
	background-color: #fff;
	color: #ffa101;
	height: 30px;
	margin-top: 10px;
	border: 1px solid #fff;
	margin-bottom: 10px;
}
.admin-side-img-change{
	text-align: center;
}
.navbar-mail-links{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}
.navbar-mail-links a{
    color:#fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: rgba(255,255,255,0.4);
    transition: all 0.5s linear;
    padding: 15px 0;
    
}
.navbar-mail-links a:hover{
    text-decoration-color:#fff; 
}

@media screen and (max-width: 850px) {
	.sideMenuClosed {
		display: none;
	}

	.admin-side-menu-web {
		display: none;
	}
	.client-side-menu-web{
		display: none;
	}
	.admin-side-link{
		margin-bottom: 20px;
	}
	.admin-menu-mobile {
		display: block;
		position: fixed;
		top: 0;
		height: 60px;
		background-color: orange;
		width: 100vw;
		z-index: 1000;
	}

	.nav-hidden {
		display: none;
	}
	.nav-open {
		width: 100%;

		align-items: center;
		background-color: #ffa101;
		margin-top: 10px;
		padding-top: 10px;
		padding-bottom: 30px;
		height: auto;
		overflow-y: scroll;
		overflow-x: hidden;

	}

	.nav-menu-logo-mobile {
		position: fixed;
		top: 5px;
		left: -50px;
		background-image: url('../../../assets/logos/Logo1.png');
		width: 40px;
		height: 50px;
		border-radius: 80px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.nav-icon {
		width: 20px;
	}

	.admin-menu-mobile-top {
		margin-top: 15px;
		margin-left: 5px;
	}

	.menu-admin-container {
		max-width: 100vw;
		overflow-y: scroll;
	}
	.admin-side-img{
		display: none;
	}
	.admin-side-container{
		text-align: center;
	}
	.admin-side-link a{
		font-size: 20px;
		padding: 10px 0 10px 10px;
	}
	.admin-side-link svg{
		width:30px;
		height: auto;

	}

}
