/*estilos chat*/


ul#divChatbox li{
   
    
    column-gap: 15px;
}
ul#divChatbox{
    padding-bottom: 110px;
    padding-left: 0px;
    height: 100%;
    max-height:45vh;
    overflow-y: scroll;
}
h5{
    margin:0px;
    color: rgb(17,197,17);
    text-transform: uppercase;
    
}
form#formEnviar{
    position: absolute;
    max-height: 110px;
    bottom: 53px;
    left: 0;
    right: 0;
    background-color: #fff;
}
div.container-fluid{
    position: relative;
    margin: 0 20px;
}
div.card{
    min-height: 60vh;
}
ul.chat-list{
    min-height: 60vh;
}
h3.box-title{
    color:#000;
    text-align: center;
    padding-top:30px;
}
div.row{
    background-color: #f1f1f1;
}

input.chat-input{
    width: 280px;
	height: 49px;
	flex-shrink: 0;
	border-radius: 15px;
	background: #f4eeee;
	box-shadow: 0px 2.76726px 2.21381px 0px rgba(0, 0, 0, 0.02),
		0px 6.6501px 5.32008px 0px rgba(0, 0, 0, 0.03),
		0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.04),
		0px 22.33631px 17.86905px 0px rgba(0, 0, 0, 0.04),
		0px 41.77761px 33.42209px 0px rgba(0, 0, 0, 0.05),
		0px 100px 80px 0px rgba(0, 0, 0, 0.07);
	color: #000;
	text-align: center;
	font-family: Outfit;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}
button.chat-btn{
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 2px 2px;
    border: solid 2px orange;
    border-radius: 10px;
    padding: 10px 10px;
    
}
div.col-4{
    text-align: center;
    padding-bottom: 30px;
}
div.col-8{
    text-align: center;
    padding-bottom: 20px;
}

div.chat-rbox .reverse.me{
    justify-content:end;
}

/*chat mesa o local color */
.chat-local{
    background-color:#0469A2;
    color:#fff;
    padding: 10px 20px;
    margin:10px;
    width: 300px;
    border-radius: 10px;
    float: left;
    clear: both;
}
.chat-mesa{
    background-color:#242424;
    color:#fff;
    padding: 10px 20px;
    margin:10px;
    width: 300px;
    
    border-radius: 10px;
    float: right;
    clear: both;
    text-align: end;
}
.hora-chat{
    font-size: 12px;
    color:rgba(255, 255, 255, 0.6)
}

#formEnviar div.row{
    display: flex;
   justify-content: center;
   align-items: center;
   
   padding-top: 10px;
}
